body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 10px;
    background-color: #f4f4f4;
}
.container {
    max-width: 1800px;
    margin: 0 auto;
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
h1 {
    color: #333;
}
h2 {
    color: #666;
    border-bottom: 2px solid #666;
    padding-bottom: 5px;
}
.profile-pic {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}
